<header>
  <nav class="navbar ">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
              SAFI
          </a>
          <div class="d-flex align-items-center">
              <select class="form-select pointer_cursor" (change)="changeLanguage($event)">
                  <option value="en" [selected]="lang === 'en'">English</option>
                  <option value="ar" [selected]="lang === 'ar'">عربي</option>
              </select>
          </div>
      </div>
  </nav>
  </header>
  <div class="equipment">
      <h2 style="color: darkgreen;">Our Equipments</h2>
      <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <!-- Indicators -->
          <div class="carousel-indicators">
            <button *ngFor="let equipment of equipments; let i = index" type="button"
                    data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i"
                    [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null"
                    [attr.aria-label]="'Slide ' + (i + 1)">
            </button>
          </div>
      
          <!-- Carousel Items -->
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let equipment of equipments; let i = index" [class.active]="i === 0">
              <h2>{{equipment.title}}</h2>
              <img [src]="equipment.src" class="d-block w-100" alt="Equipment image">
            </div>
          </div>
      
          <!-- Controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
  </div>
  <footer>
      <span><a ><i style="color: darkred;" class="fa-regular fa-envelope mt-3"></i> safi&#64;gmail.com</a></span>
      <span><a ><i class="fa-brands fa-whatsapp mt-3"></i> 0555998822</a></span>
      <span><a ><i style="color: darkred;" class="fa-solid fa-location-dot mt-3"></i> Asfi jam3at shaym</a></span> 
  </footer>
  <router-outlet></router-outlet>
  